<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" alt="Fetch and Score">
      <svg class="bi" width="48" height="48"><use xlink:href="#frisbee"></use></svg>
      Fetch and Score
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <svg class="bi" width="24" height="24"><use xlink:href="#home"></use></svg>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="seasons.html">
            <svg class="bi" width="24" height="24"><use xlink:href="#calendar"></use></svg>
            Seasons
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="score.html">
            <svg class="bi" width="24" height="24"><use xlink:href="#score"></use></svg>
            Score
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="scoreboard.html">
            <svg class="bi" width="24" height="24"><use xlink:href="#scoreboard"></use></svg>
            Scoreboard
          </a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg class="bi" width="24" height="24"><use xlink:href="#account"></use></svg>
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://auth.fetchandscore.com/login?client_id={{ site.data.cognito.client_id }}&response_type={{ site.data.cognito.type }}&scope={{ site.data.cognito.scope }}&redirect_uri={{ site.data.cognito.redirect_url }}">Login</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://auth.fetchandscore.com/logout?client_id={{ site.data.cognito.client_id }}&response_type={{ site.data.cognito.type }}&logout_uri={{ site.data.cognito.logout_url }}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container-sm">
  <h1 class="display-4 mt-4 mb-5 pb-2 border-bottom">{{ page.title }}</h1>
</div>
