<div class="container-sm">
  {% assign years = site.data.seasons | group_by: "year" %}
  {% assign yearsSorted = years | sort: "name" | reverse %}
  {% for year in yearsSorted %}
  <h2>{{ year['name'] }}</h2>
  <div class="list-group mb-5 pb-1">
    {% for season in year['items'] %}
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ season['name'] }}</h5>
        <small><svg class="bi" width="24" height="24"><use xlink:href="#paws"></use></svg></small>
      </div>
      <p class="mb-1">{{ season['start'] }} &rarr; {{ season['end'] }}</p>
      <small></small>
    </a>
    {% endfor %}
  </div>
  {% endfor %}
</div>
