<div class="container-sm" style="max-width: 75%;">
  <div class="accordion accordion-flush" id="teams">
    {% for team in site.data.teams %}
    {% capture team_id %}{{ team }}{% endcapture %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="team_{{ team_id }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ team_id }}" aria-expanded="false" aria-controls="collapse_{{ team_id }}">
          {{ team }}
        </button>
      </h2>
      <div id="collapse_{{ team_id }}" class="accordion-collapse collapse" aria-labelledby="team_{{ team_id }}" data-bs-parent="teams">
        <div class="accordion-body">
          {% for round in (1..2) %}
          <div class="container-sm">
            <h5 class="border-bottom mt-2 pt-2 mb-2 pb-2" >Round {{ round }}</h5>
            <ol class="list-group list-group-flush list-group-numbered">
              {% for throw in (1..5) %}
              {% capture id %}r{{ round }}_t{{ throw }}{% endcapture %}
              <li class="list-group-item">
                <input type="radio" class="btn-check" name="score_{{ id }}" id="missed_{{ id }}" autocomplete="off">
                <label class="btn btn-outline-success" for="missed_{{ id }}">X</label>

                <input type="radio" class="btn-check" name="score_{{ id }}" id="one_{{ id }}" autocomplete="off">
                <label class="btn btn-outline-success" for="one_{{ id }}">1</label>

                <input type="radio" class="btn-check" name="score_{{ id }}" id="two_{{ id }}" autocomplete="off">
                <label class="btn btn-outline-success" for="two_{{ id }}">2</label>

                <input type="radio" class="btn-check" name="score_{{ id }}" id="three_{{ id }}" autocomplete="off">
                <label class="btn btn-outline-success" for="three_{{ id }}">3</label>

                <input type="radio" class="btn-check" name="score_{{ id }}" id="five_{{ id }}" autocomplete="off">
                <label class="btn btn-outline-success" for="five_{{ id }}">5</label>

                <input type="checkbox" class="btn-check" name="jumped_{{ id }}" id="jumped_{{ id }}" autocomplete="off">
                <label class="btn btn-outline-danger" for="jumped_{{ id }}">Jumped</label>
              </li>
              {% endfor %}
            </ol>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
